.inputfocus:focus {
    border: 2.5px solid #2684FF !important;
}

.input {
    /* border-radius: 4px !important;
    box-shadow: 0 1px 2px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important; */
    border: 2.5px solid #2684FF !important;
}

.accordion {
  background-color: white;
  height: 167px;
  margin-bottom: 1rem;
}

.paneldetails {
  background-color: white;
}

.collapsecard {
  margin-bottom: 1rem;
}