.scrollbar {
  float: left;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  margin-bottom: 10px;
  max-height: 1200px;
}
.force-overflow {
  min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4;
}

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547;
}

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff8800;
}

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00c851;
}

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5;
}

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2bbbad;
}

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #cccccc;
}

.carousel-caption {
  top: 55%;
  transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -webkit-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  font-family: "Volkhov", serif;
}

.carousel-caption h3 {
  font-size: 2rem;
  color: #ffffff;
}

.carousel-caption h2 {
  font-size: 3.5rem;
  margin-bottom: 28px;
  color: #ffffff;
}

@media (max-width: 420px) {
  .carousel-caption h3 {
    font-size: 1.5rem;
    color: #ffffff;
  }

  .carousel-caption h2 {
    font-size: 2.5rem;
    margin-bottom: 28px;
    color: #ffffff;
  }
}

.carousel-caption p {
  font-size: 1.8rem;
}

.post {
  height: 140px;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.d-none {
  display: block !important;
}

/*News & Events*/

.title-post {
  height: 60px;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.tab-content {
  margin: 50px 0 20px 0;
}
.media > .pull-left {
  margin-right: 29px;
}
.media .dateEl {
  display: inline-block;
  text-align: center;
  background: #f9f9f9;
  padding: 18px 0 25px 0;
  color: #173d51;
  font-size: 16px;
  font-weight: 700;
  width: 113px;
  text-transform: uppercase;
}
.media .dateEl em {
  display: block;
  color: #5e72e4;
  font-size: 42px;
  line-height: 1;
  margin-bottom: 5px;
  font-style: normal;
}
.media .media-heading a {
  color: #022235;
  font-size: 21px;
  text-transform: uppercase;
}
.media .meta-data {
  margin: 0 0 7px 0;
}
.media .longDate,
.media .timeEl {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  color: #636465;
  text-transform: uppercase;
  min-height: 16px;
}
#tab1.tab-pane .media .longDate {
  border-right: none;
}
.blogPost--small {
  color: #7c7b7b;
  margin: 20px 30px 40px 0;
}
.blogPost--small .media > .pull-left {
  margin-right: 25px;
}
.blogPost--small a {
  color: #fb6340;
}
.blogPost--small .date,
.blogPost--small .dateEl2 {
  display: block;
  text-align: center;
  padding: 18px 0 25px 0;
  color: #fff;
  background: #fb6340;
  width: 113px;
}
.blogPost--small .date span,
.blogPost--small .dateEl2 span {
  display: inline-block;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0em;
  text-indent: -0.1em;
  color: #fff;
  font-weight: bold;
}
.blogPost--small .date small,
.blogPost--small .dateEl2 small {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.blogPost--small h4 {
  margin: 0 0 12px 0;
  font-size: 22px;
  text-transform: uppercase;
}

.btn-event {
  color: #fff;
  font-size: 14px;
  background-color: #5e72e4;
  border-radius: 0px;
}

/* Scroll */
#partners::before,
#contact-us::before,
#about-us::before,
#data::before,
#research::before,
#events::before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Multi-Select */

.css-yk16xz-control {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}
.css-1hwfws3 {
  color: #365d8a;
  font-size: 1rem;
  min-height: calc(2.75rem + 1px);
  border-radius: 0.25rem;
  background-clip: padding-box;
  line-height: 1.5;
  width: 100%;
}

.card-header {
  border-top-left-radius: 0.625rem !important;
  border-top-right-radius: 0.625rem !important;
}

/* SideBar */
.sidenav---sidenav---_2tBP {
  position: fixed !important;
}

/* NavBar */
.show.navbar-collapse {
  margin-left: 80px !important;
  width: 88% !important;
}

/* ToolBox */
.centerText {
  text-align: center;
}

.hr {
  border-top: 0.5rem solid #f4f5f7 !important;
}

/* DateTime Picker */
.rdtTimeToggle {
  visibility: visible !important;
}

.rdtTimeToggle::before {
  content: "" !important;
  width: 1px !important;
}

/* Logo */
.navbar-brand img {
  height: 50px !important;
}
